// $--color-primary: #00c26f;
$--color-primary: #00c26f;

$theme-main-color: #00c26f;
$theme-depth-color: #02a25e;
$theme-dim-color: linear-gradient(to right, #7c28a0, #423ea8);

$theme-complement-color: #ff9e36;

$theme-bg-color: #f0f0f0;
$theme-bg-front-color: #fff;